.card {
   
    padding: 10px;
    text-align: center;
  
   
  }
  

  .details {
    width: 60%;
  float:right;
  }
.slider{
  float:left;
  width:40%;
  padding: 10px;
}
.noImage{
  float:left;
  width: 40%;
  margin-top: 20px;
}
  
  
  
/* Responsive columns */
@media screen and (max-width: 600px)
{
  
  .slider{
    width:100%;
    padding: 10px;
  }
  .details {
    width: 100%;
 
  }
  .noImage{
    width: 100%;
    margin-top: 20px;
  }
}