.card {
   
    padding: 10px;
    text-align: center;
  
   
  }
  

  .details {
    width: 60%;
  float:right;
  }
.slider{
  float:left;
  width:40%;
  padding: 10px;
}
.noImage{
  float:left;
  width: 40%;
  margin-top: 20px;
}
  .left{
    float:left;
     
    
  }
  .right{
    float:right;
   
  }
  