<div class="container" *ngIf="!venueSelected">
  <div class="row">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let venue of venues; index as i" (click)="onClick(venue)">
        {{ venue.venueId }} <br>
        {{ venue.venueName }} <br>
        {{ venue.city }} <br>
        {{ venue.size }} <br>
        {{ venue.capacity }} <br>
        {{ venue.description }} <br>
        {{ venue.rating }} <br>
        {{ venue.price }} <br>
        {{ venue.venueType }} <br>
        {{ venue.featureType }} <br>
        <div *ngIf="venue.image?.length">
          <mat-card class="slider">
            <ngb-carousel>
              <ng-template ngbSlide *ngFor="let img of venue.image">
                <div class="picsum-img-wrapper">
                  <img mat-card-image src="{{img}}" alt="{{venue.venueName}}" style="max-height:300px; margin:0 auto;">
                </div>
              </ng-template>
            </ngb-carousel>
          </mat-card>
        </div>
        <div *ngIf="!venue.image?.length">
          <p>{{venue.venueName}} image not found </p>
        </div>

        <div *ngIf="venue.feature?.length">
          <div *ngFor="let feature of venue.feature">
            {{feature}}
          </div>
        </div>

        <div *ngIf="!venue.feature?.length">
          features unknown
        </div>

      </li>
    </ul>
  </div>

</div>

<div class="container" style="padding: 5%" *ngIf="venueSelected">
  <div class="card">
    <div class="row">
      <div class="card-header">VenueEdit</div>
      <span style="padding: 4%"></span>
      <button class="btn btn-danger" id="save" (click)="delete()">Delete</button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <label>Name:</label>
        </div>
        <div class="col-8">
          <input mdbInput type="text" id="venueName" [(ngModel)]="venueToEdit.venueName" class="form-control"
            placeholder="venueToEdit.venueName" />
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>City:</label>
        </div>
        <div class="col-8">
          <input mdbInput type="text" id="venueCity" [(ngModel)]="venueToEdit.city" class="form-control"
            placeholder="venueToEdit.city" />
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>Size:</label>
        </div>
        <div class="col-8">
          <input mdbInput type="text" id="size" [(ngModel)]="venueToEdit.size" class="form-control"
            placeholder="venueToEdit.size" />
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>Capacity:</label>
        </div>
        <div class="col-8">
          <input mdbInput type="text" id="capacity" [(ngModel)]="venueToEdit.capacity" class="form-control"
            placeholder="venueToEdit.capacity" />
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>Description:</label>
        </div>
        <div class="col-8">
          <input mdbInput type="text" id="desc" [(ngModel)]="venueToEdit.description" class="form-control"
            placeholder="venueToEdit.description" />
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>Rating:</label>
        </div>
        <div class="col-8">
          <input mdbInput type="text" id="rating" [(ngModel)]="venueToEdit.rating" class="form-control"
            placeholder="venueToEdit.rating" />
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>Price:</label>
        </div>
        <div class="col-8">
          <input mdbInput type="text" id="price" [(ngModel)]="venueToEdit.price" class="form-control"
            placeholder="venueToEdit.price" />
        </div>
      </div>
      <div class="row">
        <button class="btn btn-danger" id="cancel" (click)="cancel()">Cancel</button>
        <button class="btn btn-success" id="save" (click)="save()">Save</button>
      </div>

    </div>

  </div>
</div>
