<!-- <p>display-track works!</p> -->
<!-- <br>
<table border="auto">
    <tr>
        <th>USERID</th>&nbsp;&nbsp;
        <br>
        <th>USERNAME</th>&nbsp;&nbsp;
        <br>
        <th>MAIL-ID</th>&nbsp;&nbsp;
        <br>
        <th>PHONE NUMBER</th>&nbsp;&nbsp;
        <br>
    </tr>
    <tr *ngFor="let d of data1">
        <td>{{d.id}}</td>&nbsp;&nbsp;
        <br>
        <td>{{d.name}}</td>&nbsp;&nbsp;
        <br>
        <td>{{d.email_id}}</td>&nbsp;&nbsp;
        <br>
        <td>{{d.phone_number}}</td>&nbsp;&nbsp;

    </tr>
</table> -->
