body, html {
    height: 100%;
   
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    
    background-image: url("../../../assets/homepage.jpg");
    /* height:auto; */
    min-height: 706px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top:40px;
    padding-left:40px;
  }
  .mat-card{
    width:25em;
    background-color: rgb(255, 255, 255,0.7)
  }

   .mat-card input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin-left:20px;
    border: none;
    background: #f1f1f1;
  }
  
  .mat-card input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: slategrey;
  }
  
  
  .btn {
    background-color:orangered;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 0.8;
  }