.cards{
    margin:10px;
}


   .sidebar{
    position:fixed;
    margin-top: 5%;
    height: 550px;
    border: 40px;
    border-style: initial;
    border-width: 5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 50px;
    background-color: wheat;
}

.sidebar mat-checkbox{
    padding-left:20px;
}

.side{
  height:100%;
  padding-top: 0.5px;
  padding-left: 40px;
  padding-right: 30px;
}


.card-body p{
    font-size: 2.5vh;
}


.col-md-7 button {
    float:right;
    font-size:2vh;
}


@media only screen and (max-width:780px){

    .col-md-7 button {
        float:left;
    }
    p{
        margin-top:0px;
        font-size:35px;
    }
    
}
@media only screen and (max-width:375px){
    .sidebar {
        position: static;
        height:auto;
        width:auto;
        font-size:10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 30px;
    }
    .sidebar h2{
        font-size:20px;
    }
    
     .side {margin-left: 0;
    display:inline;}
}


 
