.cards{
    margin:10px;
}


   .sidebar{
    height: 550px;
    position:fixed;
    border: 40px;
    border-style: initial;
    border-width: 5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 30px;
    margin-top:100px;
    background-color: wheat;
}

.sidebar mat-checkbox{
    padding-left:20px;
}

.side{
  height:100%;
  padding-top: 0.5px;
  padding-left: 30px;
  padding-right: 30px;
}
 
@media only screen and (max-width:375px) {
    .sidebar {
        position:static;
        height:auto;
        width:auto;
        font-size: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .sidebar h2 {
        font-size: 20px;
    }

    .sidebar h3 {
        font-size: 20px;
    }

    .side{
        margin-left: 0;
        display: inline;
    }
}
