[12:05 PM] Vibhooti Visen
    

<?xml version="1.0"?>
<configuration>
<system.web>
 <customErrorsmode="Off"/>
</system.web>
 <system.webServer>
 <rewrite>
 <rules>
 <rulename="Angular Routes"stopProcessing="true">
 <matchurl=".*" />
 <conditionslogicalGrouping="MatchAll">
 <addinput="{REQUEST_FILENAME}"matchType="IsFile"negate="true" />
 <addinput="{REQUEST_FILENAME}"matchType="IsDirectory"negate="true" />
 </conditions>
 <actiontype="Rewrite"url="/" />
 </rule>
 </rules>
 </rewrite>
 </system.webServer>
</configuration>

